// place your custom styles here
:root {
  scroll-behavior: smooth;
  --light-grey: #666;
  --theme-color: #5c92d1;
  --font-family-fancy: Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif
}

body {
  cursor: url(/images/icons/blue.cur), auto
}


/* 滚动条整体 */
// ::-webkit-scrollbar {
//   width: 6px;
//   height: 6px;
//   background-color: #e9e8ec;
//   border-radius: 8px;
// }

// /* 两个滚动条交接处 -- x轴和y轴 */
// ::-webkit-scrollbar-corner {
//   background-color: transparent;
// }

// /* 滚动条滑块 */
// ::-webkit-scrollbar-thumb {
//   width: 8px;
//   height: 8px;
//   border-radius: 6px;
//   background: var(--theme-color);
//   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
// }

// /* 滚动条轨道 */
// ::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//   border-radius: 10px;
//   background: #ededed;
// }

// ::-webkit-scrollbar-track-piece {
//   border-radius: 6px;
//   background: rgba(0, 0, 0, .1);
// }

// /* 滚动条两端按钮 */
// ::-webkit-scrollbar-button {}

@keyframes bounce-down {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 8px);
  }
}